<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/" title="REGRESA A HOME">HOME</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/boxeadores" title="IR A boxeadores">MEJORES BOXEADORES</a>
					</li>
					<% if(isLogged) { %>
						<li class="nav-item">
							<a class="nav-link" href="/boxeadores/agregarboxeador" title="IR A agregarboxeador">AGREGAR BOXEADOR</a>
						</li>
					<% } %>
					<li class="nav-item">
						<a class="nav-link" href="/autos" title="IR A autos">GIFS AUTOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/autos/dreamgarage" title="IR A dream garage">DREAM GARAGE</a>
					</li>
					<% if(isLogged) { %>
						<li class="nav-item">
							<a class="nav-link" href="/autos/agregarauto" title="agregarauto"> AGREGAR AUTO</a>
						</li>
					<% } %>
					<% if(!isLogged) { %>
						<li class="nav-item">
							<a class="nav-link" href="/users" title="Inicia Sesión"><strong>LOG IN</strong></a>
						</li>
					<% } %>
					<% if(isLogged) { %>
						<li class="nav-item">
							<a class="nav-link" href="/users/logout" title="Cerrar Sesión"><strong>SALIR</strong></a>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>