<!DOCTYPE html>
<html>
<head>
	<title>Servidor node.</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/gitstyles.css">
</head>
<body>
	<h1>Agrega otro boxeador</h1><ol>
		 <form action="agregarboxeador" method="POST"><input type="text" name="nombre"><input type="submit" value="Guardar boxeador"></form>
		<br>
		<br>
	<footer>		
		<a href="/boxeadores" title="IR A boxeadores">Mejores boxeadores</a>
		<a href="/" title="REGRESA A Menu RUTAS">Menu RUTAS</a>
	</footer>
</body>
</html>