<!DOCTYPE html>
<html>
<head>
	<title>Servidor node.</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/gitstyles.css">
</head>
<body>
	<h1>GIFS AUTOS</h1>
	<h2>Mclaren P1</h2>
	<img src="https://media1.giphy.com/media/aA7WDclCy08hy/giphy.gif" alt="P1">
	<br>
	<br>
	<h2>Aventadors @night</h2>
	<img src="https://i.pinimg.com/originals/0b/0d/3b/0b0d3bceba7d0b5dbe7435f3707edbb8.gif" alt="Aventador @night">
	<br>
	<br> 
	<h2>F40 :O</h2>
	<img src="https://i.pinimg.com/originals/a2/7a/66/a27a66773c419a3c2de96b63b53f81c7.gif" alt="Ferrari F40">
	<br>
	<br>
	<footer>		
		<a href="/" title="REGRESA A Menu RUTAS">Menu RUTAS</a>
		<a href="/autos/lamborghini" title="IR A lamborghini">LAMBORGHINI</a>
	</footer>
</body>
</html>