<!DOCTYPE html>
<html>
<head>
	<title>Tienda.</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="css/gitstyles.css">
</head>
<body>
	<h1>Productos</h1>
	<div id="iva">*los precios incluyen IVA</div>
	<div class="box">
	<div class="col-lg-1 col-md-1"><section><p id="p">$899</p><div class="cbox"> <img src="media/john.jpg"></div></section></div>
	<div class="col-lg-2 col-md-2"><section><p id="p">$14.99</p><div class="cbox"><img src="media/cepillo.jpg"></div></section></div>
	<div class="col-lg-3 col-md-3"><section><p id="p">$119</p><div class="cbox"><img src="media/3220.jpg"></div></section></div>
	<div>
		<button id="jb" class="button" title="COMPRAR JOHN">JOHN</button>
		<button id="cb" class="button" 	title="COMPRAR CEPILLO">CEPILLO</button>
		<button id="nb" class="button" title="COMPRAR N_3220">N-3220</button>
	</div>
	<br>
	<br>
	<div id="compra"></div>
	<br>
	<br>
	<br>
	<footer>		
		<a id="inicio" href="index.html" title="REGRESA A INICIO">INICIO</a>
		<script type="text/javascript" src="js/gitcode.js"></script>
	</footer>
</body>
</html>