<!DOCTYPE html>
<html>
<head>
	<title>Servidor node.</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="css/gitstyles.css">
</head>
<body>
	<h1>RUTAS</h1><ol>
	<div><p>BOX:</p></div>
	<br>
	<div><a href="/boxeadores" title="IR A boxeadores">Mejores boxeadores</a></div>
	<br>
	<div><a href="/boxeadores/agregarboxeador" title="IR A agregarboxeador">Agregar boxeador</a></div>
	<br>
	<div><p>AUTOS:</p></div>
	<br>
	<div><a href="/autos" title="IR A autos">GIFS</a></div>
	<br>
	<div><a href="/autos/lamborghini" title="IR A lamborghini">Lamborghini</a></div>
	<br>
</body>
</html>