<!DOCTYPE html>
<html>
<head>
	<title>Servidor node.</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop1" type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">IR A</button>
		<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			<li><a class="dropdown-item" href="/" title="REGRESA A Menu RUTAS">Menu RUTAS</a></li>
			<li><a class="dropdown-item" href="/autos/lamborghini" title="IR A lamborghini">LAMBORGHINI</a></li>
		</ul>
	</div>		
	<h1 class="display-1 text-center">GIFS AUTOS</h1>
	<h2 class="display-6 text-center">Mclaren P1</h2>
	<img class="rounded mx-auto d-block" src="https://media1.giphy.com/media/aA7WDclCy08hy/giphy.gif" alt="P1">
	<br>
	<br>
	<h2 class="display-6 text-center">Aventadors @night</h2>
	<img class="rounded mx-auto d-block" src="https://i.pinimg.com/originals/0b/0d/3b/0b0d3bceba7d0b5dbe7435f3707edbb8.gif" alt="Aventador @night">
	<br>
	<br> 
	<h2 class="display-6 text-center">F40 :O</h2>
	<img class="rounded mx-auto d-block" src="https://i.pinimg.com/originals/a2/7a/66/a27a66773c419a3c2de96b63b53f81c7.gif" alt="Ferrari F40">
	<br>
	<br>
	<footer>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	</footer>
</body>
</html>